body {
    background-color: #222;
    font-family: 'Rubik', sans-serif;
}

/* START CSS AREA HEADER */
header {
    position: absolute;
    width: 1349px;
    height: 75px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}

.header_img img {
    position: absolute;
    width: 204px;
    height: 57px;
    left: 30px;
    top: 10px;
}

.header_nav {
    overflow: hidden;
    margin: 13px 35px;
    font-family: 'Poppins', sans-serif;
}

.beranda {
    margin: 0 10px;
}

.about {
    margin: 0 10px;
}

.produk {
    margin: 0 10px;
}

.butam {
    margin: 0 10px;
}

.header_nav a {
    float: right;
    display: flex;
    color: #0A9396;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header_nav a:hover {
    background-color: #F5F5F5;
    border-radius: 10px;
    color: #1e6091;
    cursor: pointer;
}

/* AKHIR CSS AREA HEADER */

/* START CSS AREA KONTEN */
.container-top {
    position: absolute;
    width: 1349px;
    height: 650px;
    left: 0px;
    top: 75.1px;
    font-family: 'Rubik', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container-top h1 {
    color: #fdfdff;
    text-shadow: 0 0 40px #343a40;
    top: 25%;
    position: absolute;
    padding: 4px;
    text-align: center;
    align-items: center;
    letter-spacing: 3px;
}

.container-mid {
    width: 1349px;
    height: 300px;
    left: 0px;
    bottom: -55.4%;
    position: absolute;
    display: flex;
    background: #f1faee;
    color: #1d3557;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

.container-mid h2 {
    right: 23%;
    top: 5%;
    font-size: 25px;
    width: 600px;
    position: absolute;
    margin-right: 30px;
}

.container-mid img {
    border-radius: 10px;
    position: absolute;
    right: 72%;
}

.container-mid p {
    position: absolute;
    top: 20%;
    left: 30.4%;
    width: 350px;
    text-align: justify;
}

.container-mid h3 {
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 30.4%;
}

.container-mid h3:hover {
    color: #40916c;
    background-color: #d8f3dc;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.container-low {
    width: 1349px;
    height: 300px;
    left: 0px;
    bottom: -101%;
    position: absolute;
    display: flex;
    background: #f1faee;
    color: #1d3557;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

.container-low h2 {
    right: 23%;
    top: 5%;
    font-size: 25px;
    width: 600px;
    position: absolute;
    margin-right: 30px;
}

.container-low img {
    border-radius: 10px;
    position: absolute;
    right: 72%;
}

.container-low p {
    position: absolute;
    top: 20%;
    left: 30.4%;
    width: 350px;
    text-align: justify;
}

.container-low h3 {
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 30.4%;
}

.container-low h3:hover {
    color: #40916c;
    background-color: #d8f3dc;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

/* AKHIR CSS AREA KONTEN */

/* START CSS AREA FOOTER */
footer {
    position: absolute;
    width: 1349px;
    height: 75px;
    left: 0px;
    top: 1321px;
    background: #003049;
}

.jam_digital {
    overflow: hidden;
}

.kotak {
    float: left;
    width: 70px;
    height: auto;
}

.jam_digital p {
    color: #f7ede2;
    font-size: 22px;
    text-align: center;
    margin-top: 25px;
}

.jam_digital i {
    font-size: 26px;
    text-decoration: none;
    color: #f7ede2;
    position: absolute;
    display: flex;
    overflow: hidden;
    left: 85%;
    top: 35%;
}

/* AKHIR CSS AREA FOOTER */