body {
    background: #222;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1,
h2 {
    color: #fff;
}

h1 {
    background: #ffb703;
    box-shadow: 0 0 30px #ffb703;
    border-radius: 10px;
    margin: 30px 450px;
    width: 475px;
    height: 40px;
}

h2 {
    background: #cbb2fe;
    box-shadow: 0 0 30px #cbb2fe;
    border-radius: 10px;
    margin: 30px 585px;
    width: 200px;
    height: 30px;
    padding: 5px 0;
}

.middle {
    margin: 10px auto;
    width: 1150px;
}

.kotak1 {
    background: #6f1d1b;
    padding: 20px;
    float: left;
    margin: 20px;
    width: 150px;
    height: 150px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    box-shadow: 0 0 80px #000;
}

.kotak2 {
    background: #bb9457;
    padding: 20px;
    float: left;
    margin: 20px;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 80px #000;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    /* Support IE 9 */
    -ms-transform: translate(50px, 150px);
    /* Support Safari */
    -webkit-transform: translate(50px, 150px);
    /* Standard syntax */
    transform: translate(50px, 150px);
}

.kotak3 {
    background: #99582a;
    padding: 20px;
    float: left;
    margin: 20px;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 80px #000;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    /* Support IE 9 */
    -ms-transform: translate(100px, 10px);
    /* Support Safari */
    -webkit-transform: translate(100px, 10px);
    /* Standard syntax */
    transform: translate(100px, 10px);
}

.kotak4 {
    background: #432818;
    padding: 20px;
    float: left;
    margin: 20px;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 80px #000;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    /* Support IE 9 */
    -ms-transform: translate(155px, 150px);
    /* Support Safari */
    -webkit-transform: translate(155px, 150px);
    /* Standard syntax */
    transform: translate(155px, 150px);
}