body {
    background: #222;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1,
h2 {
    color: #fff;
}

h1 {
    background: #ffb703;
    box-shadow: 0 0 30px #ffb703;
    border-radius: 10px;
    margin: 30px 450px;
    width: 475px;
    height: 40px;
}

h2 {
    background: #bc00dd;
    box-shadow: 0 0 30px #bc00dd;
    border-radius: 10px;
    margin: 30px 585px;
    width: 200px;
    height: 30px;
    padding: 5px 0;
}

.middle {
    margin: 10px auto;
    width: 1200px;
}

.kotak1 {
    background: #ff7900;
    padding: 20px;
    float: left;
    margin: 50px;
    width: 150px;
    height: 150px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    box-shadow: 0 0 40px #ff7900;
}

.kotak2 {
    background: #ff8500;
    padding: 20px;
    float: left;
    margin: 50px;
    width: 150px;
    height: 150px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    box-shadow: 0 0 40px #ff8500;
    /* Support IE 9 */
    -ms-transform: rotate(30deg);
    /* Support Safari */
    -webkit-transform: rotate(30deg);
    /* Standard syntax */
    transform: rotate(30deg);
}

.kotak3 {
    background: #ff9100;
    padding: 20px;
    float: left;
    margin: 50px;
    width: 150px;
    height: 150px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    box-shadow: 0 0 40px #ff9100;
    /* Support IE 9 */
    -ms-transform: rotate(90deg);
    /* Support Safari */
    -webkit-transform: rotate(90deg);
    /* Standard syntax */
    transform: rotate(90deg);
}

.kotak4 {
    background: #ff9e00;
    padding: 20px;
    float: left;
    margin: 50px;
    width: 150px;
    height: 150px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    box-shadow: 0 0 40px #ff9e00;
    /* Support IE 9 */
    -ms-transform: rotate(-60deg);
    /* support Safari */
    -webkit-transform: rotate(-60deg);
    /* Standard syntax */
    transform: rotate(-60deg);
}

.kotak5 {
    background: #7b2cbf;
    padding: 20px;
    float: left;
    margin: 50px;
    width: 150px;
    height: 150px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    box-shadow: 0 0 40px #7b2cbf;
    /* Support IE 9 */
    -ms-transform: rotate(180deg);
    /* support Safari */
    -webkit-transform: rotate(180deg);
    /* Standard syntax */
    transform: rotate(180deg);
}

.kotak6 {
    background: #5a189a;
    padding: 20px;
    float: left;
    margin: 50px;
    width: 150px;
    height: 150px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    box-shadow: 0 0 40px #5a189a;
    /* Support IE 9 */
    -ms-transform: rotate(210deg);
    /* support Safari */
    -webkit-transform: rotate(210deg);
    /* Standard syntax */
    transform: rotate(210deg);
}

.kotak7 {
    background: #3c096c;
    padding: 20px;
    float: left;
    margin: 50px;
    width: 150px;
    height: 150px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    box-shadow: 0 0 40px #3c096c;
    /* Support IE 9 */
    -ms-transform: rotate(-90deg);
    /* Support Safari */
    -webkit-transform: rotate(-90deg);
    /* Standard syntax */
    transform: rotate(-90deg);
}

.kotak8 {
    background: #240046;
    padding: 20px;
    float: left;
    margin: 50px;
    width: 150px;
    height: 150px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    box-shadow: 0 0 40px #240046;
    /* Support IE 9 */
    -ms-transform: rotate(120deg);
    /* Support Safari */
    -webkit-transform: rotate(120deg);
    /* Standard syntax */
    transform: rotate(120deg);
}